@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

*,
*:before,
*:after {
box-sizing: border-box;
margin: 0px;
}

body {
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(231, 55, 176)
}

h1 {
  float: left;
  text-align: center;
  background-color: rgb(231, 55, 176)
}

.container {
    float: right;
    background-color:rgb(231, 55, 176);
    /*background-attachment: fixed;*/
    display: flex;
    /*background-attachment: fixed;
    justify-content: space-between;*/

}

#pixelContainer {
  width: 700px;
  height: 500px;
  padding-right: 5px;
  padding-left: 10px;
  /*margin: 0 auto;*/
  background-color: rgb(231, 55, 176);

  /*border: solid yellow;*/
}

#sidebar {
    border-radius: 6px;
    /*margin-left: 205px;*/
    float: left;
    padding: 5px;
    width: 100%;
    /*border: solid yellow;*/
}

.color {
    border: solid;

    padding: 15px 15px;
    text-align: center;
    float: left;
    font-size: 16px;
    font-family: 'Permanent Marker', cursive;
    /*position: absolute;*/

}

.pixel {
  float: left;
  display: inline-block;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

#red {
  background-color: red;

}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
